.searchbar{

    padding: 2rem 0;

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container_Searchbar{

        width: 80%;
        margin: auto;
        background-color: #f5deb3;
        padding: 0.5rem 0.8rem;
        border-radius: 0.6rem;
        display: flex;
        flex-direction: column;
        gap: .4rem;

        .formSearch{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 1rem;
            border: 2px solid #682f2f;
            padding: 0.5rem 0.8rem;
            border-radius: 0.6rem;

            .inputSearch{
                width: 80%;
                background-color: transparent;
                border: none;
                font-size: 1.2rem;
                color: #682f2f;
                outline: none;
                font-weight: 600;
            }

            .inputSearch::placeholder{
                color: #682f2f;
                
            }

            .btnSearch{
                background-color: transparent;
                border: none;
                font-size: 1.4rem;
                color: #682f2f;
                cursor: pointer;
            }
        }

        .textDisclaimer{
            text-align: center;
            font-weight: 600;
            font-size: .85rem;
        }
    }

}

@media screen and (min-width: 768px) {

    .searchbar{
      
        .container_Searchbar{
            width: 30%;
            
            align-items: center;

            .formSearch{
                width: 100%;
                padding: 1rem 1.6rem;

                .inputSearch{
                    font-size: 1.5rem;
                }

                .btnSearch{
                    font-size: 1.8rem;
                }
            }

            .textDisclaimer{
                font-size: 1.2rem;
            }
        }

    }
    
}