.cocktail{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-x: scroll;
    gap: 1rem;
    
        .cardCocktail{
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;
         
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            .show{
                display: flex;
            }

            .hidden{
                display: none;
            }

            .imgCocktail{
                width: 17rem;
                margin: auto;
                align-self: center;
                padding-bottom: 0.5rem;
                margin-top: 2rem;
            }

            
            .imgCocktail-onClick{
                width: 17rem;
                margin: auto;
                margin-top: -10rem;
                padding-bottom: 0.5rem;
            }

            .infoCocktail{
                background: rgba(245, 222, 179, 0.93);
                color: black;
                padding: 1rem;
                z-index: 99;
                border-radius: 1rem;
                font-weight: bold;
                color: #682f2f;
                font-size: 1.1rem;
                width: 90%;
                margin: auto;
                animation: showOpacity 1s;
                opacity: 1;

                @keyframes showOpacity {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }

                .presentationCocktail{
                    height: 9rem;
                    overflow-y: hidden;
                    overflow-y: scroll;
                    padding: 0.2rem;
                }

                .presentationCocktail::-webkit-scrollbar{
                    width: 0.5rem;
                    background-color: transparent;
                    border-radius: 10px;
                }
                .presentationCocktail::-webkit-scrollbar-thumb-track{
                    display: none;
                }
                .presentationCocktail::-webkit-scrollbar-thumb{
                    border-radius: 10px;
                    background-color: #682f2f;
                }
            }

            .containerInfo{
                display: flex;
                flex-direction: column-reverse;
                gap: 1rem;

                button{
                    font-size: 3rem;
                    border: none;
                    background-color: transparent;
                    color: rgba(245, 222, 179, 0.93);
                    cursor: pointer;
                    z-index: 99;

                    i{
                        background-color: #682f2f;
                        border-radius: 50%;
                    }

                }

                .containerBtn_InfoCocktail{
                    display: flex;
                    gap: 0.5rem;
                    justify-content: flex-end;
                }
            }
        }
}

.cocktail::-webkit-scrollbar{
    height: 0.5rem;
    background-color: transparent;
    border-radius: 10px;
}
.cocktail::-webkit-scrollbar-thumb-track{
    display: none;
}
.cocktail::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #682f2f;
}

@media screen and (max-height: 375px) {

    .cocktail .cardCocktail .imgCocktail {
        width: 17rem;
        margin: auto;
        align-self: center;
        padding-bottom: 0.5rem;
        margin-top: -2rem;
    }

    .cocktail .cardCocktail .imgCocktail-onClick {
        width: 17rem;
        margin: auto;
        margin-top: -14rem;
        padding-bottom: 0.5rem;
    }
    
}

@media screen and (min-height: 600px) {

    .cocktail .cardCocktail .imgCocktail {
        width: 17rem;
        margin: auto;
        align-self: center;
        padding-bottom: 0.5rem;
        margin-top: -2rem;
    }

    .cocktail .cardCocktail .imgCocktail-onClick {
        width: 17rem;
        margin: auto;
        margin-top: -14rem;
        padding-bottom: 0.5rem;
    }
    
}

@media screen and (min-height: 667px) {

    .cocktail .cardCocktail .imgCocktail {
        width: 17rem;
        margin: auto;
        align-self: center;
        padding-bottom: 0.5rem;
        margin-top: 2.5rem;
    }

    .cocktail .cardCocktail .imgCocktail-onClick {
        width: 17rem;
        margin: auto;
        margin-top: -9.5rem;
        padding-bottom: 0.5rem;
    }
    
}

@media screen and (min-height: 720px) {

    .cocktail .cardCocktail .imgCocktail {
        width: 19rem;
        margin: auto;
        align-self: center;
        padding-bottom: 0.5rem;
        margin-top: 3rem;
    }

    .cocktail .cardCocktail .imgCocktail-onClick {
        width: 19rem;
        margin: auto;
        margin-top: -9rem;
        padding-bottom: 0.5rem;
    }
    
}
    
@media screen and (min-height: 800px) {

    .cocktail .cardCocktail .imgCocktail {
        width: 20rem;
        margin: auto;
        align-self: center;
        padding-bottom: 0.5rem;
        margin-top: 9rem;
    }

    .cocktail .cardCocktail .imgCocktail-onClick {
        width: 20rem;
        margin: auto;
        margin-top: -3rem;
        padding-bottom: 0.5rem;
    }
    
}

@media screen and (min-height: 900px) {

    .cocktail .cardCocktail .imgCocktail {
        width: 20rem;
        margin: auto;
        align-self: center;
        padding-bottom: 0.5rem;
        margin-top: 9rem;
    }

    .cocktail .cardCocktail .imgCocktail-onClick {
        width: 20rem;
        margin: auto;
        margin-top: -3rem;
        padding-bottom: 0.5rem;
    }
    
}

@media screen and (min-height: 1000px) {

    .cocktail .cardCocktail .imgCocktail {
        width: 17rem;
        margin: auto;
        align-self: center;
        padding-bottom: 0.5rem;
        margin-top: 2rem;
    }
    
}

/*
@media screen and (min-height: 1300px) {

    .cocktail{

        .imgCocktail{
            position: absolute;
            bottom: -15%;
            left: 50%;
            transform: translate(-50%);
            width: 16rem;
            margin: auto;
            animation-name: rightToleft;
            animation-duration: 1s;
        }

    }
    
}*/

@media screen and (min-width: 768px) {

    .cocktail{
        width: 40%;
        margin-top: 2rem;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;

        .imgCocktail{
            width: 22rem;
        }

        .infoCocktail,
        .recipeCocktail{
            width: 60%;
            font-size: 1.2rem;

            .presentationCocktail::-webkit-scrollbar{
                width: 0.7rem;
                background-color: transparent;
                border-radius: 10px;
            }
            .presentationCocktail::-webkit-scrollbar-thumb-track{
                display: none;
            }
            .presentationCocktail::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: #682f2f;
            }

        }

        .containerButton{

            button{
                font-size: 4rem;
                border: none;
                background-color: transparent;
                color: rgba(245, 222, 179, 0.93);
                cursor: pointer;
            }

        }

    }
}
